

header {
    background-image: linear-gradient(to right, rgb(12, 34, 95),rgb(57, 57, 141),rgb(123, 166, 206),rgb(239, 249, 255),white);
    /* border-bottom: 2cm; */
    height: 15vh;
    /* box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5); */
    display: flex;
    align-items: flex-end;
    margin:0;
}

.wrapper{
    background-color: aquamarine;
    margin: 0 auto;
    padding: 0 auto;
}

h2{
    font-weight: 500;
}

h3{
    font-weight: 600;
}


h4 {
    font-weight: 400;
    
}

/* div {
    margin:10px 0px;
    padding: 10px 0px;
} */



ul{
    padding-left: 10;
    margin-top: 0px;

 
}

li{
    font-weight: 300;
    padding: 8px 15px 8px 3px;
    width: 90%;
    margin-top: 0px;
    border-right: .1cm solid maroon;
    
    
}

p {
    width:80%;
    font-weight: 300;
    text-align: center;
}

#main_title{
    display: flex;
    color: antiquewhite;
    margin-left: 18%;
    
}
.main_sub_title{
    font-family: 'Arvo';
    font-weight: 700;
    text-align: center;
    color:darkslategray
}

.main_content{
    width: 64%;
    height: 100%;    
    margin: 0 auto;
    padding: 0px auto;
    background-color: white;
    
}






.project_date{
    font-size: 20px;
    font-weight: 300;
}

#first{
    text-align: left;
    font-weight: 100;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

hr {
    border: 1px solid darkslategray;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-right: 50px;
    
}



.yr_1{
    width:80%;
}

.year_title{
    font-size: 40px;
    margin-top: 0px;
    padding-top: 0px;
}

.img_premodal{
    width: 50%;
    min-height: 150px;
    max-height: 250px;
    overflow: hidden;

}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 0px;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}d-flex justify-content-center 

/* Modal Content */
.modal-content {
    position: relative;
    background-color: black;
    padding: 0;
    margin: 15px;
    width: 90%;
    max-width: 1600px;
    
}

.modal-content{
    cursor:zoom-out;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
li
/* Hide the slides by default */
.mySlides {
    display: none;
}

.light_font{
    font-weight: 300;
}
/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}
#myModal{
    width: 100%;
}


img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    cursor: zoom-in;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.return_a_tag{
    color: darkslateblue
}

.return_a_tag:hover {
    color: lightskyblue;
}

.emphasized {
    font-weight: 400;
}

